:root{
  --main-background: #32363a;
  --second-layer: #21232640;
  --text-color: #ffffff;
  --header-text-colour: orange;
  background-color: var(--main-background);
  color: var(--text-color);
  text-align: center;
}

#header{
  color: var(--header-text-colour);
}