:root{
  --main-background: #32363a;
  --second-layer: #21232640;
  --text-color: #ffffff;
  --header-text-colour: orange;
  background-color: var(--main-background);
  color: var(--text-color);
  text-align: center;
}

#header{
  color: var(--header-text-colour);
}

#gamezone{
  background-color: var(--second-layer);
  align-self: center;
  margin-left: 20%;
  margin-right: 20%;
  min-height: 600px;
  border-radius: 20px;

}

/* background-color: var(--second-layer);
  width:200px;
  height:200px;
  position: fixed;
  top: 190px;
  left: 50%;
  margin-top: -100px;
  margin-left: -100px;
  border-radius: 20px; */